body{
	background-color:#dcdbad;
}

.container {
   background-color:#f1f1f1
}
span.psw {
    float: right;
    padding-top: 16px;
   display: block;
}
.bton{
	float:left;
}
span input[type="submit"]{
	background:blue;
	padding:10px 20px;
	font-size:18px;
	color:#fff;
	margin-left:10px;
	margin-top:20px;
	border-radius:5px;
	border:none;
}


#login_form{
	width:630px;
	float:left;
}

#login_form h3{
	margin-top:10px;
	margin-left:142px;
	padding:10px;
	font-size:200%;
}
#login_form h1{
	margin-left:150px;
	margin-bottom:30px;
	text-decoration:underline;
	
}
fieldset{
	border-style: inset;
	border-style: outset;
	background-color:lightblue;
}

.container_full{
	width:100%;
	height:0 auto;
	background:blue;
}
.container_wrap{
	width:960px;
	margin:0 auto;
}
#login_form{
	width:630px;
	float:left;
}

#login_form h3{
	margin-top:10px;
	margin-left:142px;
	padding:10px;
	font-size:200%;
}
#login_form h1{
	margin-left:150px;
	margin-bottom:30px;
	text-decoration:underline;
	
}
#password{
	margin-left:30px;
	font-size:120%;
	font-family:arial;
	font-weight:bold;
}
#access{
	color:green;
}
#usernameinput{
	padding:5px;
	margin-left:30px;
	width:300px;
}
#passwordinput{
	padding:5px;
	margin-left:30px;
	width:300px;
	
}
#keepinput{
	margin-left:30px;
	
}
#keep{
	font-size:120%;
}


#username{
	margin-left:30px;
	font-size:120%;
	font-family:arial;
	font-weight:bold;
}
button{
	margin-left:243px;
	padding:10px;
	width:100px;
	background:#143DEB;
	color:white;
	
}